
.watch{
    width: 100vw;
    height: 100vh;

    .back{
        display: flex;
        align-items: center;
        position: absolute;
        top: 10px;
        left: 10px;
        cursor: pointer;
        color: white;
        z-index: 2;
        
        span{
            cursor: pointer;
        }
    }

    iframe{
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

    
}