
:root{
    --main-color: #0b0b0b;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html::-webkit-scrollbar {
    display: none;
}